<!DOCTYPE html>
<html>
<head>
    <title>Голосовой ассистент</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/stars.css">
</head>
<body>
    <div class="stars"></div>
    <h1 class="main-title">Добро пожаловать в будущее: <br>Голосовой Ассистент</h1>
    <form method="POST" action="/process_command">
        <input id="runButton" type="submit" value="Нажмите и скажите команду">
    </form>  

    <audio id="activationSound" src="../static/clickButton.mp3" preload="auto"></audio>
    <audio id="successSound" src="../static/success.mp3" preload="auto"></audio>
    <audio id="errorSound" src="../static/error.mp3" preload="auto"></audio>

    <script src="../static/play_sound.js"></script>
    <script src="../static/move_stars.js"></script>
</body>
</html>
